<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginseite</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        h1, h3 {
            color: white;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
    <script>
        async function submitForm(event) {
            event.preventDefault();

            const form = document.getElementById('loginForm');
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            try {
                const response = await fetch('http://localhost:8081/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                });

                if (!response.ok) {
                    throw new Error(`HTTP-Fehler! Status: ${response.status}`);
                }

                const data = await response.json();

                const token = data.token;
                if (!token) {
                    throw new Error('Kein Token erhalten');
                }
                localStorage.setItem('authToken', token);

                window.location.href = '/';

            } catch (error) {
                console.error('Fehler beim Login:', error);
                alert(`Login fehlgeschlagen. Bitte überprüfen Sie Ihre Eingaben.`);
            }
        }
    </script>
</head>
<body>
<div class="fomularContainer">
    <div class="login-box">
        <h1>Login</h1>
        <form id="loginForm" onsubmit="submitForm(event)">
            <label for="username">Name</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
        <br><br><h3>Noch keinen Account?</h3>
        <form th:action="@{/register}" method="get">
            <input type="submit" value="Registrieren">
        </form>
    </div>
</div>
</body>
</html>
