<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session erfassen</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .container {
            text-align: center;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function validateDates(event) {
            event.preventDefault();

            const startTime = document.getElementById("startTime").value;
            const endTime = document.getElementById("endTime").value;

            const startDate = new Date(startTime);
            const endDate = new Date(endTime);

            if (startDate >= endDate) {
                alert("Die Startzeit muss vor der Endzeit liegen.");
            }
            else {
                submitForm(event)
            }
        }

        async function submitForm(event) {
            event.preventDefault();

            const newSession = {
                date: document.getElementById("date").value,
                startTime: new Date(document.getElementById("startTime").value).toISOString(),
                endTime: new Date(document.getElementById("endTime").value).toISOString(),
                cycles: document.getElementById("cycles").value,
                personalEvaluation: document.getElementById("personalEvaluation").value
            };

            const csrfToken = document.cookie
                .split('; ')
                .find(row => row.startsWith('XSRF-TOKEN='))
                ?.split('=')[1];

            try {
                const response = await fetch('http://localhost:8081/api/session/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-XSRF-Token': csrfToken
                    },
                    body: JSON.stringify(newSession),
                    credentials: 'include'
                });

                if (!response.ok) {
                    throw new Error(`HTTP-Fehler! Status: ${response.status}`);
                }
                else {
                    Swal.fire({
                        title: 'Erfolgreich!',
                        text: 'Die Session wurde erfolgreich erstellt!',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/';
                        }
                    });
                }
            } catch (error) {
                console.error('Fehler beim Erstellen der Session:', error);
                alert(`Session-Erstellung fehlgeschlagen. Bitte versuche es erneut.`);
            }
        }
    </script>
</head>
<body>

<div th:insert="fragments/brandImage :: brandImage"></div>
<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Willkommen, <span th:text="${username}">Benutzer</span>!</h1>
    <h3>Hier kannst du eine Session eintragen:</h3>
    <div class="fomularContainer">
        <div class="login-box">
            <form id="sessionForm" onsubmit="validateDates(event)">
                <label for="startTime">Startzeit</label>
                <input type="datetime-local" id="startTime" name="startTime" required>

                <label for="endTime">Endzeit</label>
                <input type="datetime-local" id="endTime" name="endTime" required>

                <label for="date">Datum</label>
                <input type="date" id="date" name="date">
                <small style="color: gray; display: block; font-style: italic;">Falls kein Datum eingegeben wird, ist das Datum der Tag des Startdatums.</small>

                <label for="cycles">Schlafzyklen (optional)</label>
                <input type="number" id="cycles" name="cycles">

                <label for="personalEvaluation">Schlafbewertung (1-10)</label>
                <input type="number" id="personalEvaluation" name="personalEvaluation" min="1" max="10" required>

                <input type="submit" value="Session speichern">
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
