/*
Basic style configurations for the SleepCycle web application
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #a1a1a1;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 15px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.fomularContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: left;
    width: 100%;
}

.navbar-nav {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #a1a1a1;
}

p {
    color: #a1a1a1;
    margin-bottom: 1.5rem;
}

.footer {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

.brand-image {
    display: flex;
    justify-content: left;
}

.login-box {
    text-align: left;
    background-color: #1e1e1e;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
label {
    color: white;
    display: block;
    margin: 10px 0 5px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"]  {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #0001fe;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #3700b3;
}

